#page {
    width: 800px;
    margin: 0 auto;
    
}

header, nav, footer {
    height: 50px;
    background-color: antiquewhite;
}

#main {
    display: flex;
    justify-content: space-between;
    
}

aside {
    flex-grow: 1;
    background-color: wheat;
}

section {
    flex-grow: 3;
    background-color: white;
    min-height: 500px;
}